* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: #2b2a2a;
}

header {
    height: 72px;
    width: 100%;

    background-color: #1f1d1d;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-nav {
    max-width: 1440px;
    margin: 0 auto;

    width: 100%;

    padding: 8px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-svg {
    width: 45px;
    height: 45px;

    background-image: url(icon-youtube.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#search {
    width: 600px;
    height: 40px;
    border-radius: 30px;
    border: none;

    text-indent: 10px;
    font-size: 17px;
}


.nav-menu {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0px 16px;
}

.nav-link {
    display: inline-block;

    padding: 8px 16px;

    text-decoration: none;

    color: #fff;

    transition: .5 ease;
}

.nav-link:hover {
    opacity: 0.8;
}

main {
    max-width: 1440px;
    margin: 10px auto;
    padding: 4px 16px

}

section {
    display: flex;
    justify-content: center;
}

.container1 {    
    margin: 0 auto;
    padding-top: 16px;

    display: flex;
    justify-content: space-around;
    
}

.container2 {

}

.video-side {
    display: inline-block;
    margin: 5px 5px;
    align-items: center;
    justify-content: space-around;
}

.thumb {
    width: 300px;
    height: 150px;
    background-color: #a0a0a0;

    border-radius: 6px;
    cursor: pointer;
    transition: .5s ease;
}

.thumb:hover {
    opacity: 0.8;
}
.thumb3 {
    width: 200px;
    height: 150px;
    background-color: #a0a0a0;

    margin-bottom: 4px;

    border-radius: 6px;
    cursor: pointer;
    transition: .5s ease;

}
.thumb3:hover {
    opacity: 0.8;
}


.thumb2{
    height: 470px;
    width: 450;
}

.space2 {
    display: flex;
    margin: 4px 16px;
}

.conteudo {
    margin-left: 8px;
}

.thumb4 {
    width: 200px;
    height: 225px;
    margin-bottom: 4px;
}

h3{
    color: #fff;
    cursor: pointer;
    transition: .5s ease;

}

p {
    color: #a0a0a0;
    display: flex;
    max-width: 170px;
    cursor: pointer;
}

h3:hover {
    opacity: 0.7;
}